@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@utilities {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}

html {
  scroll-behavior: smooth;
}

.divider {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .ellipse {
    border-radius: 50%;
  }
  .nav-shadow {
    box-shadow: 0px 1px 0px #434345;
  }
}

@layer components {
  .btn {
    @apply px-6 py-2 text-sm font-semibold rounded-md;
  }

  .btn-primary {
    @apply text-zinc-800 bg-zinc-50;
  }

  .btn-primary:hover {
    @apply text-zinc-800 bg-greenFec;
  }

  .btn-secondary {
    @apply border text-primary;
  }

  .btn-secondary:hover {
    @apply border shadow text-greenFec border-greenFec;
  }

  .btn-border {
    @apply border text-primary;
  }

  .btn-border:hover {
    @apply border shadow text-greenFec border-greenFec;
  }

  .social-circle {
    @apply grid w-8 h-8 rounded-full place-items-center;
  }

  .title {
    @apply text-4xl font-extrabold leading-normal text-primary md:text-5xl lg:text-6xl font-title;
  }

  .subtitle {
    @apply text-2xl font-extrabold leading-normal text-primary md:text-3xl lg:text-4xl font-title;
  }

  .paragraph {
    @apply text-lg leading-normal text-secondary md:text-2xl;
  }

  .cards-title {
    @apply text-lg font-medium text-primary md:text-xl lg:text-2xl font-title;
  }

  .cards-paragraph {
    @apply text-sm font-light text-secondary md:text-base lg:text-lg;
  }

  .title-colorful {
    @apply text-gradient bg-gradient-to-r from-emerald-400 to-blue-500;
  }

  .nav-scroll {
    @apply items-center bg-zinc-900 nav-shadow;
  }

  .input {
    @apply w-full px-3 py-2 text-sm leading-tight border rounded appearance-none bg-coolGrayDark text-secondary border-zinc-600;
  }
}

/* react-select filter styles */
.filter-selector .react-select__multi-value {
  @apply bg-zinc-700;
}

.filter-selector .react-select__multi-value__label {
  @apply text-zinc-100;
}

.filter-selector .react-select__menu {
  @apply border bg-zinc-900 border-zinc-500 text-primary;
}

.filter-selector .react-select__control {
  @apply bg-zinc-900 border-zinc-500 text-tertiary;
}

.filter-selector .react-select__option--is-focused {
  @apply bg-zinc-700;
}

.filter-selector .react-select__control .react-select__indicator {
  /* @apply text-primary0; */
}

.filter-selector .react-select__value-container .react-select__placeholder {
  /* @apply text-sm text-zinc-600; */
}
/* end react-select styles */

/* react-select form-user styles */
.form-user .react-select__multi-value {
  @apply bg-zinc-700;
}

.form-user .react-select__multi-value__label {
  @apply text-zinc-100;
}

.form-user .react-select__menu {
  @apply border bg-coolGrayDark border-zinc-700 text-primary;
}

.form-user .react-select__control {
  @apply bg-coolGrayDark border-zinc-700 text-tertiary;
}

.form-user .react-select__option--is-focused {
  @apply bg-zinc-500;
}

.form-user .react-select__control .react-select__indicator {
  /* @apply text-primary0; */
}

.form-user .react-select__value-container .react-select__placeholder {
  /* @apply text-sm bg-zinc-500; */
}
/* end react-select styles */

.twitter-blue {
  color: #55acee;
}

/* add calendar button styles */
.addeventatc.button {
  background-color: #f9fafb !important;
  border-radius: 6px !important;
  @apply text-zinc-800 !important;
  padding: 10px !important;
  z-index: unset;
  width: 100%;
}

.addeventatc.button:hover {
  background-color: #00c39d !important;
}

.addeventatc_dropdown {
  overflow: hidden;
}
.addeventatc_icon {
  display: none;
}
.copyx {
  display: none !important;
}

/* React Detepicker */

.react-datepicker-wrapper {
  margin-left: 32px;
  margin-bottom: 24px;
}

.react-datepicker {
  @apply border-zinc-500 !important;
  padding: 2px !important;
  @apply bg-zinc-900 !important;
}
.react-datepicker__month-container {
  border-radius: 2px !important;
}

.react-datepicker__month {
  @apply bg-zinc-900 !important;
  border-radius: 2px !important;
}

.react-datepicker__header {
  @apply bg-zinc-900 border-zinc-700 !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  @apply text-greenFec !important;
}

.react-datepicker__day {
  @apply text-greenFec !important;
}

.react-datepicker__day--disabled {
  @apply text-zinc-500 !important;
}

.react-datepicker__day--selected {
  @apply bg-greenFec !important;
  @apply text-zinc-900 !important;
}

.react-datepicker__day:hover {
  @apply bg-mainBtnHoverColor !important;
  @apply text-zinc-100 !important;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-transparent !important;
}

.react-datepicker-time__header {
  @apply text-greenFec !important;
}

.react-datepicker__time-list-item {
  @apply bg-zinc-900 text-greenFec !important;
}

.react-datepicker__time-list-item--disabled {
  @apply text-zinc-600 !important;
}

.react-datepicker__time-list-item:hover {
  @apply bg-mainBtnHoverColor !important;
  @apply text-zinc-100 !important;
}

/* End React Detepicker */
