@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}

html {
  scroll-behavior: smooth;
}

.divider {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .ellipse {
    border-radius: 50%;
  }
  .nav-shadow {
    box-shadow: 0px 1px 0px #434345;
  }
}

@layer components {
  .btn {
    @apply px-6 py-2 text-sm font-semibold rounded-md;
  }

  .btn-primary {
    @apply text-coolGray-800 bg-coolGray-50;
  }

  .btn-primary:hover {
    @apply text-coolGray-800 bg-greenFec;
  }

  .btn-secondary {
    @apply border text-coolGray-50;
  }

  .btn-secondary:hover {
    @apply border shadow text-greenFec border-greenFec;
  }

  .btn-border {
    @apply border text-coolGray-50;
  }

  .btn-border:hover {
    @apply border shadow text-greenFec border-greenFec;
  }

  .social-circle {
    @apply grid w-8 h-8 rounded-full place-items-center;
  }

  .title {
    @apply text-4xl font-extrabold leading-normal text-primary md:text-5xl lg:text-6xl font-title;
  }

  .subtitle {
    @apply text-2xl font-extrabold leading-normal text-primary md:text-3xl lg:text-4xl font-title;
  }

  .paragraph {
    @apply text-lg leading-normal text-secondary md:text-2xl;
  }

  .cards-title {
    @apply text-lg font-extrabold leading-normal text-primary md:text-xl lg:text-2xl font-title;
  }

  .cards-paragraph {
    @apply text-sm font-light text-coolGray-200 md:text-base lg:text-lg;
  }

  .title-colorful {
    @apply text-gradient bg-gradient-to-r from-green-400 to-blue-500;
  }

  .nav-scroll {
    @apply items-center bg-gray-900 nav-shadow;
  }

  .input {
    @apply w-full px-3 py-2 text-sm leading-tight border rounded appearance-none bg-coolGrayDark text-coolGray-200 border-coolGray-600;
  }
}

/* react-select filter styles */
.filter-selector .react-select__multi-value {
  @apply bg-gray-700;
}

.filter-selector .react-select__multi-value__label {
  @apply text-gray-100;
}

.filter-selector .react-select__menu {
  @apply bg-gray-900 border border-gray-500 text-coolGray-50;
}

.filter-selector .react-select__control {
  @apply bg-gray-900 border-gray-300 text-coolGray-300;
}

.filter-selector .react-select__option--is-focused {
  @apply bg-gray-700;
}

.filter-selector .react-select__control .react-select__indicator {
  /* @apply text-gray-500; */
}

.filter-selector .react-select__value-container .react-select__placeholder {
  /* @apply text-sm text-coolGray-600; */
}
/* end react-select styles */

/* react-select form-user styles */
.form-user .react-select__multi-value {
  @apply bg-coolGray-700;
}

.form-user .react-select__multi-value__label {
  @apply text-coolGray-100;
}

.form-user .react-select__menu {
  @apply border bg-coolGrayDark border-coolGray-700 text-coolGray-50;
}

.form-user .react-select__control {
  @apply bg-coolGrayDark border-coolGray-700 text-coolGray-300;
}

.form-user .react-select__option--is-focused {
  @apply bg-coolGray-500;
}

.form-user .react-select__control .react-select__indicator {
  /* @apply text-coolGray-500; */
}

.form-user .react-select__value-container .react-select__placeholder {
  /* @apply text-sm bg-coolGray-500; */
}
/* end react-select styles */

.twitter-blue {
  color: #55acee;
}

/* add calendar button styles */
.addeventatc.button {
  background-color: #f9fafb !important;
  border-radius: 6px !important;
  @apply text-coolGray-800 !important;
  padding: 10px !important;
  z-index: unset;
  width: 100%;
}

.addeventatc.button:hover {
  background-color: #00c39d !important;
}

.addeventatc_dropdown {
  overflow: hidden;
}
.addeventatc_icon {
  display: none;
}
.copyx {
  display: none !important;
}
