@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}

.divider {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

@layer components {
  .btn {
    @apply text-xs font-bold uppercase px-4 py-2 rounded;
  }

  .btn-primary {
    @apply bg-primary text-white;
  }

  .btn-primary:hover {
    @apply bg-primarydark shadow;
  }

  .btn-secondary {
    @apply bg-secondary text-white;
  }

  .btn-secondary:hover {
    @apply bg-secondarydark shadow;
  }

  .btn-thirdiary {
    @apply bg-thirdiary text-white;
  }

  .btn-thirdiary:hover {
    @apply bg-thirdiarydark shadow;
  }
}
