.container {
  background: rgba(0, 195, 157, 0.85);
}

.exit {
  display: block;
  transform: rotate(45deg);
  position: absolute;
  font-size: 2rem;
  line-height: 1;
  padding: 0.1em;
  top: 0;
  right: 1rem;
  opacity: 0.66;
  transition: opacity 150ms ease-in-out;
}

.exit:hover {
  opacity: 1;
}

.exit:before {
  content: '+';
}
